mkdocstrings-python
pymdown-extensions
mkdocs-jupyter
markdown-exec
mkdocs-include-markdown-plugin
mkdocs-material
mkdocs-table-reader-plugin
# requirements for interactive figures
plotly-express
pandas
aircraftdetective